<head>
    <link rel="stylesheet" type="text/css" href="./contenthub.component.css">
</head>

<div class="container">
    <div class="main">
        <div class="listContainer" *ngIf="lv===true; else elseBlock">
            <h1>Content Hub</h1>
            <app-list-view [deleteAccess]="deleteAccess" [headers]="headers" [data]="tableData"
                (deleteEvent)="handleDelete($event)" (openEvent)="handleOpen($event)"></app-list-view>

            <button id="create" (click)="handleCreate()">Create New</button>
        </div>
        <ng-template #elseBlock>
            <div id="app-content-page">
                <app-content-page (onInput)="setContent($event)" (onAnalyze)="setStateResults($event)"
                    (onBack)="handleBack()" (onSave)="handleSave()" [contentAssetId]="contentAssetId"
                    [content]="content">
                </app-content-page>
            </div>
        </ng-template>
        <div class="right" *ngIf="lv===false">
            <div class="proofreader-container">
                <app-proofreader [contentEditorActive]="contentEditorActive" [content]="content"
                    [stateResults]="stateResults"></app-proofreader>
            </div>
        </div>

        <!-- <div class="activity-container" *ngIf="lv===true; else elseBlock2">
            <h2>Open Activities</h2>
            <ul class="activity">
                <li>Sensi Vape Product Launch Due in 2 Days!</li>
                <li>Three Assets Approved and Ready for Deployment!</li>
            </ul>
            <h2>Demo Instructions</h2>
            <ul class="activity">
                <li>Click create new</li>
                <li>Edit Content</li>
                <li>See what happens when you type the word "high"</li>
            </ul>
        </div>
        <ng-template #elseBlock2>
            <div class="proofreader-container">
                <app-proofreader [contentEditorActive]="contentEditorActive" [content]="content" [stateResults]="stateResults"></app-proofreader>
            </div>
        </ng-template>-->
    </div>



</div>