.container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;   
}

.main {
    background-color: #EEEEEE;
    width: 100%;
    height:100%;
    border-radius: 5px;
    overflow: auto;
    display: flex;
}
.listContainer {
    padding: 10px;
    width: 100%
}

#app-content-page{
    width: 100%;
}

.banner {
    background-color: #174333;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.204), 0 6px 20px 0 rgba(0, 0, 0, 0.394);
    color: white;
    border-radius: 5px;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

p {
    font-size: x-large;
    padding: 10px;
}

h1 {
    font-size: xx-large;
    padding: 10px;
    margin: 5px;
}

.menu {
    grid-area: menu;
    min-width: 15vw;
    max-width: 15vw;
}



.right {
    display: flex;
    justify-content: center;
    color: white;
    max-width: 29%;
    min-width: 340px;
    margin-top: 20px;
}


ul {
    padding: .2vw;
}

.activity-container {
    margin-left: 10px;
}

.activity {
    list-style-type: none;
    margin: .5vw;
    font-size: 1rem;
    padding-left: 1.28571429em;
    text-indent: -1.6em;
}

.activity li {
    padding-bottom: 1vw;
}

.activity li::before {
    content: "";
    display: inline-block;
    width: 1em;
    height: 1em;
    margin-right: 0.5em;
    align-self: center;
    background-image: url(../../../assets/logo/notification.png);
    background-repeat: no-repeat;
    background-size: contain;
}

#create {
    display: inline-block;
    padding: 12px 24px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    background-color: #3F51B5;
    color: #fff;
    border-radius: 4px;
    transition: background-color 0.2s ease-in-out;
    cursor: pointer;
    margin-top: 20px;
  }
  
  #create:hover {
    background-color: #2c3e50;;
  }

.proofreader-container {
    margin-right: 10px;
    margin-left: 10px;
    width: 100%;
    background-color: #EEEEEE;
    border-radius: 5px;
    overflow: auto;
}

@media screen and (max-width: 1250px) {
    .right{
        max-width: 100%;
        margin-top: 10px;
        margin-left: 0px;
    }
}
