<div class="container">
    <form (ngSubmit)="onSubmit()">
        <h1>Step 1: Upload Your Image</h1>
        <input id="fileInput" type="file" (change)="onFileSelected($event)">
        <h1>Step 2: Write your caption</h1>
        <textarea id="postText" placeholder="Add your caption here..." (input)="onInput($event)"></textarea>
        <h1>Step 3: Add Hashtags</h1>
        <textarea id="hashtagText" placeholder="Add your hashtags here..." (input)="onInput($event)"></textarea>
    </form>
    <div class="preview-section" *ngIf="imageSrc || postText">
        <h1>Post Preview</h1>
        <div class="post-preview" *ngIf="imageSrc || postText">
            <div class="post-header">
                <img src="../../../assets/profile-icon.svg" alt="Profile picture">
                <div class="post-username">Cannasense User</div>
            </div>
            <div class="post-image">
                <img [src]="imageSrc">
            </div>
            <div class="instagram-toolbar">
                <img id="insta-heart-img" width="30px" alt="heart icon" src="../../../assets/insta-heart.svg">
                <img id="insta-comment-img" width="30px" alt="comment icon" src="../../../assets/insta-comment.svg">
                <img id="insta-send-img" width="30px" alt="send icon" src="../../../assets/insta-send.svg">
            </div>
            <div class="post-details">
                <div class="post-text"><span style="font-weight: bold;">cannasense </span>{{ postText }}</div>
                <div class="post-hashtags">
                    <span *ngFor="let hashtag of hashtags">{{hashtag}}</span>
                </div>
            </div>
        </div>
    </div>
    <div class="analyzer" *ngIf="imageSrc || postText">
        <app-proofreader [contentEditorActive]="contentEditorActive" [content]="postText" [stateResults]="stateResults"></app-proofreader>
    </div>
</div>