

  .container {
    margin: 10px;
  }

  .menulist{
    padding-left: 10px;
    
    font-size: x-large;
    border: 1px;
    border-color: #578a36;
  }

  li {
    padding: 10px;
    border: 1px solid #578a36;
    border-radius: 10px;
    text-align: center;
    margin: 10px;
    list-style: none;
  }

  .menulist li:hover{
    background-color: #578a36;
    font-family: 'Denk One';
  }

  a:visited{
    color: #333
  }

  a{
    color: #333;
    text-decoration: none;
  }

