<head>
    <link href="https://fonts.cdnfonts.com/css/denk-one" rel="stylesheet">
</head>
<!-- Menu -->
<div class="container">
    <ul class="menulist">
        <li>
            <a [routerLink]="['/home']">Home</a>
        </li>
        <li>
            <a [routerLink]="['/contentHub']">Content Hub</a>
        </li>
        <li>
            <a [routerLink]="['/adhub']">Campaign Hub</a>
        </li>
        <li>
            Social Hub
        </li>
        <li>
            Packaging Hub
        </li>
    </ul>
</div>