
body{
  margin-top: 20%;
}

.menu-container {
  left:0;
  position:fixed;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  min-width: 70.5px;
  
}


.cannasense-feature-nav {
  position: sticky;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border: .15rem solid rgba(255, 255, 255, .5);
  border-left:none;
  border-top-right-radius:  5px;
  border-bottom-right-radius: 5px;
  width: 85px;
  cursor: pointer;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);

}

.cannasense-feature-nav img,
.cannasense-feature-nav p {
  color: white;
  font-weight: 600;
  opacity: .5;
  margin: 0;
}

.cannasense-feature-nav:not(:last-child) {
  margin-bottom: 10px;
}
.cannasense-feature-nav p {
  padding-bottom: .5em;
  font-size: small;
  padding-right: .5em;
}

.cannasense-feature-nav img {
  padding-top: .5em;
}


.cannasense-feature-nav:hover{
  background-color: #0C2521;
}

.campaign p {
  margin-left:.6em !important;
}

a:visited {
  color: inherit;
}

a {
  color: #333;
  text-decoration: none;
  padding: 10% 10%;
}
