.toolbar {
    
    background-color: #FFFFFF;
    border-bottom: .2em solid lightgrey;
    border-right: .2em solid lightgrey;
    display: flex;
    gap: 30px;
    align-items: center;
    padding: 10px 0px 10px 10px;
    width: 99.1%
}

label {
    margin-right: -25px;
}