:host{
    width: 100%;
}

#editor-container {
    height: 375px;
}

#content-title {
    font-size: small;
    font-weight: bold;
    padding-left: 1vw;
    margin-left: -10px;
}


.titleInput {
    font-size: x-large;
    font-weight: bold;
    width:100%;
}

.pencil{
    width: 20px;
    height: 20px;
    align-self: center;
    margin-top: .4rem;
}

.pencilbutton {
    background: none;
    border: none
}

.pencilbutton:hover{
    cursor: pointer;
}

.title{
    display: flex;
}

body {
    
    margin: 2vw;
}

body{
    margin-top: 30px;
}
