<div class="container" *ngIf="loaded">
  <h1>{{pageTitle}}</h1><br>
  <form [formGroup]="forbiddenKeywordForm" class="my-form">
    <div class="form-group">
      <label for="keyword">Keyword:</label>
      <input type="text" class="form-control" formControlName="keyword">
      <div *ngIf="forbiddenKeywordForm.get('keyword')?.invalid && forbiddenKeywordForm.get('keyword')?.touched"
        class="error-message">Keyword is required.</div>
    </div>
    <div class="form-group">
      <label for="category">Category:</label>
      <input type="text" class="form-control" formControlName="category">
      <div *ngIf="forbiddenKeywordForm.get('category')?.invalid && forbiddenKeywordForm.get('category')?.touched"
        class="error-message">Category is required.</div>
    </div>
    <div class="form-group">
      <app-state-selector #stateSelector [preselectedStates]="selectedStates"></app-state-selector>
      <div *ngIf="forbiddenKeywordForm.get('states')?.invalid && forbiddenKeywordForm.get('states')?.touched"
          class="error-message">At least 1 state is required.</div>
    </div>
    <div class="form-group">
      <label for="provisions">Provisions:</label>
      <textarea class="form-control" formControlName="provisions" rows="4"></textarea>
      <div *ngIf="forbiddenKeywordForm.get('provisions')?.invalid && forbiddenKeywordForm.get('provisions')?.touched"
        class="error-message">Provisions are required.</div>
    </div>
    <div class="form-group">
      <button type="submit" class="primary-button"  (click)="handleSave()">Save</button>
      <button type="button" class="secondary-button" (click)="handleBack()">Back</button>
    </div>
  </form>
</div>
