<head>
  <link rel="stylesheet" type="text/css" href="./app.component.css">
  <link href='https://fonts.googleapis.com/css?family=Denk One' rel='stylesheet'>
  <link href="https://fonts.cdnfonts.com/css/belleza" rel="stylesheet">
</head>


<body>
  <!-------------------------TOOLBAR------------------------->
  <div class="toolbar-container">
    <div *ngIf="authExperience()" id="cannasense-toolbar" class="cannasense-toolbar">
      <a [routerLink]="['home']">
        <img id="logo" style="margin:.5em 0em 0em 3em;" alt="Angular Logo" src="../../../assets/logo/newLogo.png" />
      </a>
      <a id="login" [routerLink]="['/login']">
        <div class="menu" (click)="logout()">
          <img id="logout" style="margin:0px;" alt="logout" src="../../../assets/logout.svg" />
          <p>logout</p>
        </div>
      </a>
    </div>
  </div>

  <div class="app-container">
    <div *ngIf="authExperience()" class="cannasense-navbar">
      <app-nav-menu>

      </app-nav-menu>
    </div>
    <!-------------------------ROUTER OUTLET------------------------->
    <div id="router-outlet">
      <router-outlet>
      </router-outlet>
    </div>
  </div>
</body>


<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>