<head>
    <link rel="stylesheet" type="text/css" href="./landing-page.component.css">
</head>

<body>
    <a [routerLink]="['/login']">
        <div class="menu">
            <img id="login" style="margin:0px;" alt="Login" src="../../../assets/login.svg" />
            <p>login</p>
        </div>
    </a>
    <div class="sideContainer">
        <img id="logo" style="margin:0px;" width="60%" alt="Angular Logo" src="../../../assets/logo/newLogo.png" />
        <div class="buttonContainer">
            <button class="button-28" role="button" (click)="handleFormToggle()">Request a Demo</button>
        </div>
    </div>
    <div class="container">
        <div class="pStatement">
            <h1>AI-driven compliance <br>for Cannabis Brands</h1>
            <h2> Packaging • Labels • Content</h2><br>
        </div>
        <div *ngIf="noform===true; else elseBlock">
            <!--<h3 style="text-align: center;">How can AI help you?</h3>
            <div class="features">
                <ul>
                    <li>Intelligently desig</li>
                    <li>Engage existing customers more meaningfully</li>
                    <li>Reach and acquire new customers</li>
                    <li>Score Violation Risks of Social Posts</li>
                </ul>
            </div>-->
            <div class="buttonContainer2">
                <button class="button-28" role="button" (click)="handleFormToggle()">Request a Demo</button>
            </div>
        </div>
        <ng-template #elseBlock>
            <app-sign-up (backevent)="handleFormToggle()"></app-sign-up>
        </ng-template>
    </div>

</body>