<div class="container">
    <form [formGroup]="productForm" (ngSubmit)="onSubmit()">

        <h1>Product Information</h1>
        <div class="product-description">
            <div class="form-field">
                <label for="productName">Product Name:</label><br>
                <input type="text" id="productName" formControlName="productName">
            </div>
            <div class="form-field">
                <label for="productDescription">Product Description:</label><br>
                <input type="text" id="productDescription" formControlName="productDescription">
            </div>
            <div class="form-field">
                <label for="netWeight">Net Weight (g):</label><br>
                <input type="number" id="netWeight" formControlName="netWeight">
            </div>

            <div class="form-field">
                <label for="totalCannabinoids">Total Cannabinoids:</label><br>
                <input type="number" id="totalCannabinoids" formControlName="totalCannabinoids">
            </div>

            <div class="form-field percentage">
                <label for="thcConcentration">THC Concentration:</label><br>
                <input type="number" id="thcConcentration" formControlName="thcConcentration">
                <span style="margin-left:-45px">%</span>
            </div>

            <div class="form-field percentage">
                <label for="cbdConcentration">CBD Concentration:</label><br>
                <input type="number" id="cbdConcentration" formControlName="cbdConcentration">
                <span style="margin-left:-45px">%</span>
            </div>

            <div class="form-field percentage">
                <label for="thcaConcentration">THCA Concentration:</label><br>
                <input type="number" id="thcaConcentration" formControlName="thcaConcentration">
                <span style="margin-left:-45px">%</span>
            </div>

            <div class="form-field percentage">
                <label for="cbdaConcentration">CBDA Concentration:</label><br>
                <input type="number" id="cbdaConcentration" formControlName="cbdaConcentration">
                <span style="margin-left:-45px">%</span>
            </div>
        </div>

        <h1>Tracking Information</h1>
        <div class="tracking-information">
            <div class="form-field">
                <label for="soldByName">Sold By Name:</label><br>
                <input type="text" id="soldByName" formControlName="soldByName">
            </div>
            <div class="form-field">
                <label for="soldByAddress">Sold By Address:</label><br>
                <input type="text" id="soldByAddress" formControlName="soldByAddress">
            </div>
            <div class="form-field">
                <label for="producedByName">Produced By Name:</label><br>
                <input type="text" id="producedByName" formControlName="producedByName">
            </div>
            <div class="form-field">
                <label for="producedByAddress">Produced By Address:</label><br>
                <input type="text" id="producedByAddress" formControlName="producedByAddress">
            </div>
        </div>


        <h1>Quality Control</h1>
        <div class="quality-control">
            <div class="form-field">
                <label for="testedBy">Tested By:</label><br>
                <input type="text" id="testedBy" formControlName="testedBy">
            </div>

            <div class="form-field">
                <label for="testingMethodologyStatement">Testing Methodology Statement</label><br>
                <input type="text" id="testedBy" formControlName="testingMethodologyStatement">
            </div>
            <div class="form-field">
                <label for="harvestDate">Date of Harvest:</label><br>
                <input type="date" id="harvestDate" formControlName="harvestDate">
            </div>
            <div class="form-field">
                <label for="packageDate">Package Date:</label><br>
                <input type="date" id="packageDate" formControlName="packageDate">
            </div>
            <div class="form-field">
                <label for="useBy">Use By:</label><br>
                <input type="date" id="useBy" formControlName="useBy"><br>
            </div>
        </div>
        <button type="submit">Submit</button>
    </form>
</div>