


.container {
    height: 100%;
    display: block;
    
}

.grid-container {
    
    display: grid;
    padding: 10px;
    gap: 1px;
    grid-template-areas: 
        'menu main main main main right'
        'menu footer footer footer footer right';
}

.banner {
    width: 100%;
    background-color:#174333;
    min-width: 50vw;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

p {
    font-size: x-large;
    padding: 0px 10px;
    margin: 2px;
}

h1 {
    font-size: xx-large;
    padding: 10px 10px 0px 10px;
    margin:0px;
    font-family: 'Denk One';
}

.menu { 
    grid-area: menu;
    min-width: 15vw;
    max-width: 15vw;
}
.main { 
    padding: 2%;
    grid-area: main;
    background-color: #EEEEEE;
    max-width: 70vw;
    min-width: 70vw;
    min-height: 37vw;
    margin-top: .5vw;
}
.right { 
    grid-area: right;
    padding: .5vw;
    min-width: 15vw;
    max-width: 15vw;
    color: white;
}
.footer { 
    grid-area: footer;
    color: white;
}

.w3-bar {
    background-color: #C2882B;
}

#slogan{
    font-size: 1rem;
}

.w3-row div:hover{
    background-color: lightgray;
}
