<head>
  <link rel="stylesheet" type="text/css" href="./home.component.css">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>



<div class="container">
  <div class="banner">
    <h1>Your Apps</h1>
  </div>
  <div id="group1">
    <div id="home-div" class="app-icon" (click)="handleNav($event)">
      <h3 id="home-header">Home</h3>
      <img id="home-icon" alt="home icon" src="../../../assets/home-icon.svg">
      <p>Access your customized home page dashboards and links</p>
    </div>
    <div id="content-div" class="app-icon" (click)="handleNav($event)">
      <h3 id="content-header">Content Hub</h3>
      <img id="content-icon" alt="content icon" src="../../../assets/content-icon.svg">
      <p>Build Web Content with AI-assisted proofreading for complaince</p>
    </div>
  </div>
  <div id="group2">
    <div id="campaign-div" class="app-icon" (click)="handleNav($event)">
      <h3 id="campaign-header">Campaign Hub</h3>
      <img id="campaign-icon" alt="campaign icon" src="../../../assets/loyalty-icon.svg">
      <p>Segment customers and automate email & SMS promotions</p>
    </div>
    <div id="brand-div" class="app-icon" (click)="handleNav($event)">
      <h3 id="brand-header">Brand Hub</h3>
      <img id="brand-icon" alt="brand icon" src="../../../assets/brand-icon.svg">
      <p>Store all of your digital brand assets with AI-assisted compliance review</p>
    </div>
  </div>
</div>