
.grid-container {
    margin-top: 50px;
    display: grid;
    padding: 10px;
    gap: 1px;
    grid-template-areas: 
        'menu main main main main main main main main main main right'
        'menu main main main main main main main main main main right'
        'menu main main main main main main main main main main right'
        'menu footer footer footer footer footer footer footer footer footer footer footer';
    margin-left: -20px;
    margin-right: -20px;
    min-height: 700px;
}

p {
    font-size: x-large;
    padding: 10px;
}

h1 {
    font-size: xx-large;
    padding: 10px;
}

.menu { 
    grid-area: menu;
    background-color: #c8d9adff;
}
.main { 
    grid-area: main;
    background-color: #c8d9adff;
}
.right { 
    grid-area: right;
    background-color: #c8d9adff;
}
.footer { 
    grid-area: footer;
    background-color: #c8d9adff;
}