<head>
    <link rel="stylesheet" type="text/css" href="./home.component.css">
  </head>

  <div class="container">
    <div class="grid-container">

        <div class="menu">
            <app-nav-menu></app-nav-menu>
        </div>

        <div class="main">
            <img
            width="55"
            alt="Angular Logo"
            src="../assets/logo/Screen Shot 2023-02-14 at 11.29.54 AM.png"
          />
            <h1>CannaSense</h1>
            <p id="slogan">The first AI-powered content management system for Cannabis</p><br>
            <p id="description">CannaSense empowers content creators to manage a variety of digital assets including web content, press releases, advertising campaigns, and even labels & packaging.
                <br><br>With our AI-powered proofreader catching any "uh-ohs" along the way, your team can easily manage multiple content versions with common elements alongside tailored content for each state.
            </p>
        </div>

        <div class="right">
            <p>Checkout our Content Hub for a Demo. Other modules coming soon!</p>
        </div>

        <div class="footer">
            <p>CONFIDENTIAL</p>
        </div>

    </div>

</div>
  