<form [formGroup]="contentDetails" (ngSubmit)="onSubmit()">
    <label for="title">Title</label> &nbsp;
    <input id="title" type="text" formControlName="contentTitle" required placeholder="Enter a title for your content asset" value={{title}} [disabled]="!editMode"><br><br>

    <label for="content-type">Content Type</label>&nbsp;
    <input id="content-type" type="Text" formControlName="contentType" required> &nbsp; &nbsp;

    <label for="launch-date">Launch Date</label>&nbsp;
    <input id="launch-date" type="date" formControlName="contentLaunchDate" required> <br>

    <button type="submit">Save</button> <br> <br>
</form>